@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');

*{
    box-sizing: border-box; /*Para navegadores mais antigos, css se comporta como BOX's*/
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex; /*por padrão a flex-direction é row (em linha), neste caso não há muita auteração porque é apemas umelemento nesse container*/
    justify-content: center;
    align-items: center;
    background: #e8aae3;   /*Escolha da cor de fundo*/
    height: 80px;            /*Largura*/
    /* border: 1px solid black ; */
}

header h1{
    font-size: 60px;
    color: white;
    font-family: 'Yesteryear', cursive;
    font-weight: normal;
}

.hero{
    display: flex; /*Os elementos são organizados automaticamente em linhas*/
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
}

.box-img{
    display: flex;
    justify-content: center;
    width: 20%;
    padding-right: 20px;
   /* border: 1px solid blue; */ 
}

.responsiva{
    max-width: 100%; /*seletor da class da imagem para garantir que ela fique 100% dentro do conteiner dela*/
}

.box-txt{
    display: flex;
    flex-flow: row wrap; /*dlispay com row em (em linha) e wrap(se não couber ele quebra alinha)*/
    width: 35%; /*box ocupará 35% da tela*/
    /* border: 1px solid green; */
}

.box-txt span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase; /*tudo em letra maiúscula*/
}

.box-txt h2{
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    color: #ce4ec4;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 70px; /*Espaçamento entre a linha de cima e a de baixo*/
}

.box-txt p{
    color: gray;
    margin-bottom: 30px;
}

.btn-hero{
    background: #ce4ec4;
    padding: 15px 25px;
    text-decoration: none; /*tirar decoração azul padrão dos links*/
    font-family: 'DM Sans', sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s all; /*cria um delay para qualquer transição (as modificações fima mais suaves)*/
    margin-bottom: 30px;
    font-weight: bold;
}

.btn-hero:hover{ /*pseudo (comportamento quando o mouse assar por cima do elemento)*/
    background: #da2387;
    font-size: 18px;
}

.box-item{
    width: 30%;
    background: #f6d9f4;
    height: 100%;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid red; */
}
.m-top{
    margin-top: 30px;
}

footer{
    margin-top: 100px;
    background: #e8aae3;
    height: 150px;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whats{ 
    position: fixed; /*fixa o elemento dessa class na tela, mesmo quehaja rolagem de tela*/
    right: 20px; /*Diz quanto da direita esse elemnto ficará afastado*/
    bottom: 20px; /*Diz o quanto do fundo da tela esse ele mento ficará afastado*/
}

/*area de responsividade para telas menores que 1200pixes*/
@media screen and (max-width: 1200px){
    header h1{
        font-size: 45px;
    }

    .hero{
        flex-direction: column-reverse; /*inverteu de row para column para o hiro dar em telas estreitas (fica um elemento abaixo do outro em coluna)*/
        /* background: #da2387; */
    }

    .box-txt{
        flex-flow: column wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 40px 30px;
    }

    .box-txt h2{
        font-size: 50px;
        text-align: center;
    }

    .box-txt p{
        text-align: center;
    }

    .box-img{
        width: 100%;
    }

    .box-item{
        width: 95%;
    }

    footer{
        text-align: center;
        font-size: 17px;
    }
}